<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/todo.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>
<body>
    <div class="header">
        <div class="work">
            <form action="/work" method="GET">
                <button class = "headBtn" type = "submit">Work</button>
            </form>
        </div>
        <div class="daily">
            <form action="/daily" method="GET">
                <button class = "headBtn" type = "submit">Daily</button>
            </form>
        </div>   

        <div class="home">
            <form action="/" method="GET">
                <button class = "headBtn" type = "submit">Home</button>
            </form>
        </div>  
    </div>