<%- include("partials/header.ejs")  %>
    <div class="box">
        <% for(var i = 0; i < locals.length; i++) {%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= todo[i] %>
                </p>
            </div>
        <% } %>
        <form class = "item submit" action="/work" method = "POST" >
            <input class = "inp" type="text" name = "todo" autocomplete="off" placeholder="New To-Do">
            <button class = "btn" type="submit" name="list">+</button>
        </form>
    </div>
    
<%- include("partials/footer.ejs") %>