<%- include("partials/header.ejs")  %>
<link rel="stylesheet" href="styles/index.css">

    <div class="box">
        <h1><span></span></h1><br>
    </div>



    <script src = "behaviors/typeEffect.js"></script>
<%- include("partials/footer.ejs") %>