body{
    background: #E8FFCE;
    color: #7C73C0;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    display: inline-flex;
}

.headBtn{
    background: rgba(0,0,0,0);
    border: none;
    color: #7C73C0;
    font-size: 1rem;
}